.col{
    text-align: center;
    margin-top: 300px;  
}
.btn{
    width: 220px;
    height: 100px;
    color: white;
    background-color: orangered;
    font-size: 40px;
    font-family: 'Comic Neue', cursive;
    border: 5px solid orange;
    border-radius: 5px;

}
.btn:hover{
    cursor: pointer;
}